.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

/* #################### loader ############# */
.loadingSection {
  width: 100%;
  height: 80vh;
  display: grid;
  place-items: center;
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #e50914;
  border-color: #e50914 transparent #e50914 transparent;
  animation: loading 1.2s infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

/* ####################### ERROR PAGE ################################ */

.errorSection {
  background-color: #fcde67;
  width: 100%;
  height: 90vh;
  display: grid;
  place-items: center;
}
.error {
  display: flex;
  justify-content: space-between;
  min-height: 400px;
  min-width: 70%;
}

.errorText {
  width: 50%;
  padding: 0.5rem;
}

.errorText h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.num {
  font-size: 15rem;
  display: block;
}

.errorImg {
  max-width: 400px;
  width: 90%;
}
.img {
  width: 90%;
}

@media (max-width: 610px) {
  .num {
    display: inline-block;
    font-size: 10rem;
  }
}

@media (max-width: 510px) {
  .num {
    font-size: 5rem;
    padding-top: 5rem;
  }
}

@media (max-width: 430px) {
  .error {
    display: inline-block;
    position: relative;
    height: 80%;
  }
  .img {
    /* padding-top: 3rem; */
    max-height: 250px;
    /* height: 80%; */
  }
  .errorText {
    position: absolute;
    bottom: 2px;
    margin-top: 1rem;
    text-align: center;
    width: 90%;
  }
  .errorImg {
    position: absolute;
    top: 2px;
    margin-top: -1rem;
  }
}
